<app-card titulo="Consultar Fornecedores">
    <form [formGroup]="formFornecedor">
        <div class="row">
            <div class="form-group col-sm-6 col-lg-3">
                <label class="form-label">Nome</label>
                <input class="form-control" formControlName="Nome">
            </div>

            <div class="form-group col-sm-6 col-lg-3">
                <label class="form-label">Nome Fantasia</label>
                <input class="form-control" formControlName="NomeFantasia">
            </div>

            <div class="form-group col-sm-6 col-lg-3">
                <label class="form-label">CEP</label>
                <input class="form-control" formControlName="CEP">
            </div>

            <div class="form-group col-sm-6 col-lg-3">
                <label class="form-label">CPF/CNPJ</label>
                <input class="form-control" formControlName="CPFJ">
            </div>
        </div>

        
        <div class="row">
            <div class="form-group col-sm-6 col-lg-3">
                <label class="form-label">Celular Whatsapp</label>
                <input class="form-control" formControlName="CelWpp">
            </div>

            <div class="form-group col-sm-6 col-lg-3">
                <label class="form-label">Telefone Responsável</label>
                <input class="form-control" formControlName="TelResponsavel">
            </div>

            <div class="form-group col-sm-6 col-lg-3">
                <label class="form-label">Email</label>
                <input class="form-control" formControlName="Email">
            </div>

            <div class="form-group col-sm-6 col-lg-3">
                <label class="form-label">Observação</label>
                <input class="form-control" formControlName="Observacao">
            </div>
        </div>


        <div class="pt-2">
            <button class="btn btn-outline-success" style="margin-right: 0.5rem;" (click)="Consultar()">Consultar</button>

            <button class="btn btn-outline-primary" type="button"
                [routerLink]="['/cadastro/fornecedor/0']">Cadastrar</button>
        </div>
    </form>
</app-card>
<br>
<app-card *ngIf="consulta">
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Nome Fantasia</th>
            <th scope="col">CEP</th>
            <th scope="col">CPF/CNPJ</th>
            <th scope="col">Celular Whatsapp</th>
            <th scope="col">Telefone Responsável</th>
            <th scope="col">Email</th>
            <th scope="col">Observação</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of consulta">
            <th scope="row">{{item.nome}}</th>
            <td>{{item.nomeFantasia}}</td>
            <td>{{item.cep}}</td>
            <td>{{item.cpf}}</td>
            <td>{{item.celularWpp}}</td>
            <td>{{item.telefone}}</td>
            <td>{{item.email}}</td>
            <td>{{item.observacoes}}</td>
            <td>
                <div>
                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="ExcluirFornecedor(item.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 1.15rem; height: 1.15rem;">
                            <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375z" />
                            <path fill-rule="evenodd" d="M3.087 9l.54 9.176A3 3 0 006.62 21h10.757a3 3 0 002.995-2.824L20.913 9H3.087zm6.133 2.845a.75.75 0 011.06 0l1.72 1.72 1.72-1.72a.75.75 0 111.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 11-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 11-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
                          </svg>
                    </button>

                    <button type="button" class="btn btn-sm btn-outline-primary" [routerLink]="['/cadastro/fornecedor/' + item.id]">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 1.15rem; height: 1.15rem;">
                            <path fill-rule="evenodd" d="M17.303 5.197A7.5 7.5 0 006.697 15.803a.75.75 0 01-1.061 1.061A9 9 0 1121 10.5a.75.75 0 01-1.5 0c0-1.92-.732-3.839-2.197-5.303zm-2.121 2.121a4.5 4.5 0 00-6.364 6.364.75.75 0 11-1.06 1.06A6 6 0 1118 10.5a.75.75 0 01-1.5 0c0-1.153-.44-2.303-1.318-3.182zm-3.634 1.314a.75.75 0 01.82.311l5.228 7.917a.75.75 0 01-.777 1.148l-2.097-.43 1.045 3.9a.75.75 0 01-1.45.388l-1.044-3.899-1.601 1.42a.75.75 0 01-1.247-.606l.569-9.47a.75.75 0 01.554-.68z" clip-rule="evenodd" />
                          </svg>
                    </button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</app-card>